<h1>Listing incidents</h1>

<table>
  <tr>
    <th>Id machine incident</th>
    <th>Date incident</th>
    <th>Date resolution incident</th>
    <th>Statut incident</th>
    <th>Niveau incident</th>
    <th>Description incident</th>
    <th>Proprietes supplementaires</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.machine_id %></td>
    <td><%= incident.date_incident %></td>
    <td><%= incident.date_resolution_incident %></td>
    <td><%= incident.statut_incident %></td>
    <td><%= incident.niveau_incident %></td>
    <td><%= incident.description_incident %></td>
    <td><%= incident.proprietes_supplementaires %></td>
    <td><%= link_to 'Show', incident %></td>
    <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
    <td><%= link_to 'Destroy', incident, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident', new_incident_path %>
