<% @o=0 %>
<% @salles.each do |ss| %>
	 <% if ss.id == @machine.salle.id %>
	 	<% @active_menu=@o %>
	 <% else %>
	 	<% @o+=1 %>
	 <% end %>
<% end %>

<script language="Javascript"> 
	$(document).ready(function(){ $("#index_menu").accordion({active:<%=@active_menu%>});})
</script> 

<table id="index_table" >
	<tr>
		<td>
			<div class="index_menu ui-accordion ui-widget ui-helper-reset ui-accordion-icons" >   
				<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all"> 	
			    	<span class="ui-icon ui-icon-triangle-1-e"></span>
					<%= link_to 'Tous les salles', root_path %>
				</h3>
			</div>

			<div id="index_menu">
				<%= render 'index_menu', :salles => @salles %>			
			</div>
		</td>
		<td>
			<div id="detaille_machines" >
				<h2>Historique des incidents : <%= @machine.nom_machine %></h2>
				<div>
					<p>
						Description : <%= @machine.description_machine %>
					</p>
					<p>
						Adresse ip : <%= @machine.ip_machine %>
					</p>
					<p>
						Nom de la salle : <%= @machine.salle.nom_salle %>
					</p>
					<p>
						Etat machine :
							<% if @machine.etat_machine == "1" %>
								<span class="green">OK</span>
							<% elsif @machine.etat_machine == "0" %>
								<span class="red">Erreur</span>
							<% end %>
					</p>
					<p>	
						Etat service : 
							<% if @machine.etat_service_machine == "1" %>
								<span class="green">OK</span>
							<% elsif @machine.etat_service_machine == "0" %>
								<span class="red">Erreur</span>
							<% end %>
					</p>
				</div>					
			</div>
		</td>
	</tr>
</table>
<div id="matabledemachine">
	<table id="table_jqueryy">
		<thead>
			<tr>
				<th>Date de debut</th>
				<th>Date de resolution</th>
				<th>Statut</th>
				<th>Niveau</th>
				<th>Propriete</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
		<% @machine.incidents.each do |m| %>
			<tr>
				<td><%= m.created_at %></td>
				<td><%= m.date_resolution_incident %></td>
				<td><% if m.statut_incident  == "1" %>
						OK
					<% elsif m.statut_incident == "0" %>
						Erreur
					<% end %>
				</td>
				<td><%= m.niveau_incident %></td>				
				<td><%= m.description_incident %></td>
				<td><%= m.proprietes_supplementaires %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>








