<fieldset><legend><h1>Liste des  salles</h1></legend>

<% if @Salles.blank? %>
  
<table  id="salletableau" >
<thead>
  <tr>
    <th>Nom salle </th>
    <th>Ip reseau </th>
    <th>Masque reseau </th>
    <th>Nbre machine </th>
    <th>Afficher</th>
    <th>Modifier</th>
    <th>Supprimer</th>
  </tr>
</thead>
<tbody>
<% @salles.each do |salle| %>
  <tr>
    <td><%= salle.nom_salle %></td>
    <td><%= salle.ip_reseau %></td>
    <td><%= salle.masque_reseau  %></td>
    <td><%= nbremachine(salle.id) %></td>
    <td><%= link_to 'Afficher', salle %></td>
    <td><%= link_to 'Modifier', edit_salle_path(salle) %></td>
    <td><%= link_to 'Supprimer', salle, confirm: 'Valider la suppression?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<%  else %>

<h2><p> Vous n'avez pas encore créer de salle machine</p></h2>
<% end %>
<br />

<p><h2><%= link_to 'Créer une Salle', new_salle_path %></h2></p>
</fieldset>