<div id="change_password_request_div">
	<table>
		<%= form_for(:changes, :url => change_password_process_path) do |f| %>
			<tr>
				<td>
					<%= f.label :password, "New password :" %>
				</td>
				<td>
					<%= f.text_field :password  %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :password_confirmation, "Confirmation :" %>
				</td>
				<td>
					<%= f.text_field :password_confirmation  %>					
				</td>
			</tr>
			<tr>
				<td colspan="2" class="right">
					<%= f.hidden_field :token , :value => params[:reset_code]  %>
					<%= f.submit "Change password" %>
				</td>
			</tr>
		<% end %>
	</table>
</div>

