<%= form_for(@machine) do |f| %>
  <% if @machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
      <% @machine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom_machine %><br />
    <%= f.text_field :nom_machine %>
  </div>
  <div class="field">
    <%= f.label :ip_machine %><br />
    <%= f.text_field :ip_machine %>
  </div>
  <div class="field">
  <%= f.label :salle_id %> <%= f.select :salle_id, @salles.map{|e| [e.nom_salle,e.id]} %>
  </div>
  <div class="field">
    <%= f.label :description_machine %><br />
    <%= f.text_field :description_machine %>
  </div>
  <div class="field">
    <%= f.label :date_crea_machine %><br />
    <%= f.text_field :date_crea_machine %>
  </div>
  <div class="field">
    <%= f.label :etat_machine %><br />
    <%= f.text_field :etat_machine %>
  </div>
  <div class="field">
    <%= f.label :etat_service_machine %><br />
    <%= f.text_field :etat_service_machine %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
