<html>
<body>
<h1 style="color:#0b8dc1;">Listing machines</h1>
<br>
<table style="border:3px solid #0b8dc1">
  <tr>
    <th style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"> Nom machine </th>
    <th style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"> Ip </th>
    
    <th style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"> Description </th>
    <th style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"> Date de cr&eacute;ation </th>
    
    <th style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"></th>
    <th style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"></th>
    <th style="border-bottom:1px solid #0b8dc1"></th>
  </tr>

<% @machines.each do |machine| %>

  <tr>
    <td style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"><%= machine.nom_machine %></td>
    <td style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"><%= machine.ip_machine %></td>
    
    <td style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"><%= machine.description_machine %></td>
    <td style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"><%= machine.date_crea_machine %></td>
    
    <td style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"><%= link_to 'Afficher', machine %></td>
    <td style="border-bottom:1px solid #0b8dc1; border-right:1px solid #0b8dc1; padding:0px; margin:0px"><%= link_to 'Modifier', edit_machine_path(machine) %></td>
    <td style="border-bottom:1px solid #0b8dc1; padding:0px; margin:0px"><%= link_to 'Supprimer', machine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<br />

<%= link_to 'Ajouter Machine', new_machine_path %>
</body>
</html>