<h1 style="color:red;">Listing machines</h1>
<br>
<table border="1 solid black">
  <tr>
    <th> Nom machine </th>
    <th> Ip </th>
    <th> salle </th>
    <th> Description </th>
    <th> Date de cr&eacute;ation </th>
    <th> Etat </th>
    <th> Etat services </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machines.each do |machine| %>

  <tr>
    <td><%= machine.nom_machine %></td>
    <td><%= machine.ip_machine %></td>
    <td><%= machine.salle_id %> </td>
    <td><%= machine.description_machine %></td>
    <td><%= machine.date_crea_machine %></td>
    <td><%= machine.etat_machine %></td>
    <td><%= machine.etat_service_machine %></td>
    <td><%= link_to 'Afficher', machine %></td>
    <td><%= link_to 'Modifier', edit_machine_path(machine) %></td>
    <td><%= link_to 'Supprimer', machine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ajouter Machine', new_machine_path %>
