<div id="header">

	<div id="logo">
		<%= link_to raw("<span class='gray'>PRYUS</span> == Bliss ==") , root_path %>
	</div>

	<% if signed_in? %>
		<div id="menu">
			<ul>
				<li><%= link_to "Mon profile", "#" %></li>
				<li><%= link_to "Gestion", "#" %></li>
				<li><%= link_to "Deconnexion", signout_path, :method => :delete %></li>
			</ul>
		</div>
	<% else %>
		<div id="menu">
			<ul>
				<li id="li_connexion" ><%= link_to "Connexion", "#" %></li>
				<li><%= link_to "inscription", "#" %></li>
			</ul>
		</div>
	<% end %>

</div>

<div style="display:none" id="connexion" >
	
	<%= form_for(:sessions, :url => sessions_path) do |f| %>
		
		<div>
			<%= f.label :login_mail, "Login" %>
			<%= f.text_field :login_mail %>
		</div>

		<div>
			<%= f.label :password, "Password" %>
			<%= f.password_field :password %>
		</div>

		<div>
			<%= f.submit "S'identifier" %>
		</div>

		<div>
			<%= link_to "Mot de passe oublié ?", '#' %>
		</div>

	<% end %>

</div>