<% session[:pwd] = request.fullpath %>

<div id="header">

	<div id="logo">
		<%= link_to raw("<span class='gray'>PRYUS</span> (Bliss)") , root_path %>
	</div>

	<% if signed_in? %>
		<div id="menu">
			<ul>
				<li><%= link_to "Mon profile", "#" %></li>
				<li><%= link_to "Gestion", "#" %></li>
				<li><%= link_to "Deconnexion", signout_path, :method => :delete %></li>
			</ul>
		</div>
	<% else %>
		<div id="menu">
			<ul>
				<li id="li_connexion" ><%= link_to "Connexion", "#" %></li>
				<li><%= link_to "inscription", "#" %></li>
			</ul>
		</div>
	<% end %>

</div>

<div  id="connexion" >
	
	<%= form_for(:sessions, :url => sessions_path) do |f| %>
		<table>		
			<tr>
				<td>
						<%= f.label :login_mail, "Login :" %><br />
						<%= f.text_field :login_mail %>
				</td>
			</tr>
			<tr>
				<td>
						<%= f.label :password, "Password :" %><br />
						<%= f.password_field :password %>
				</td>
			</tr>
			<tr>
				<td class="right" >
						<%= link_to raw("Mot de passe oublié ?"), send_password_path, :class => "oublie_mdp" %>
				</td>
			</tr>
			<tr>
				<td class="center" >
						<%= f.submit "S'identifier" %>
				</td>
			</tr>
		</table>
	<% end %>

</div>