<!DOCTYPE html>
<html>

	<head>

		<title><%= titre %></title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>	

		<%= javascript_include_tag "jquery-1.7.1.min" %>
		<%= javascript_include_tag "jquery-ui-1.8.17.custom.min" %>
		<%= stylesheet_link_tag "smoothness/jquery-ui-1.8.17.custom" %>

		<%= stylesheet_link_tag "style" %>

		
	</head>

	<body>

		<%= render 'layouts/header' %>

		<div id="main">

			<div id="content">

				<div id="flash">
					<% flash.each do |key, value| %>
						<p class="<%= key %>"><%= value %></p>
					<% end %>
				</div>
			
				
				<%= yield %>

			</div>

		</div>

		<%= render 'layouts/footer' %>

	</body>
</html>
